

.Meme {
    width: 40%;
    margin: auto;
    position: relative;

}

.Meme img {
    display: block;
    margin: auto;
    width: 70%;
    -webkit-box-shadow: 10px 10px 30px 2px rgba(0,0,0,0.39);
    -moz-box-shadow: 10px 10px 30px 2px rgba(0,0,0,0.39);
    box-shadow: 10px 10px 30px 2px rgba(0, 0, 0, 0.466);
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}
 

.InputFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}


@media (max-width: 499px){
    .Meme {
        width: 75%;

    }

}
